## Heart Disease Data Preprocessing

A model to predict heart disease from the dataset downloaded from https://www.kaggle.com/datasets/mahdifaour/heart-disease-dataset/data?select=Heart_Disease+%281%29.csv.

This file preprocesses data by removing empty values, converts categorical to numeric and splits into train and test datasets in 80-20 ratio.

In [25]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

In [26]:
# Load the dataset for examination

df = pd.read_csv('data/Heart_Disease.csv')

In [27]:
df.describe()

,age,education,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,totChol,sysBP,diaBP,BMI,heartRate,glucose
count,3674.000000,3674.000000,3674.000000,3674.000000,3674.000000,3674.000000,3674.000000,3674.00000,3674.000000,3674.000000,3674.000000,3674.000000
mean,49.577300,1.984213,9.092270,0.030212,0.005716,0.310016,236.761840,132.38024,82.906505,25.783038,75.719652,81.769461
std,8.546068,1.022891,11.938399,0.171194,0.075397,0.462563,44.039295,22.04683,11.948024,4.056048,11.957171,23.884454
min,32.000000,1.000000,0.000000,0.000000,0.000000,0.000000,113.000000,83.50000,48.000000,15.540000,44.000000,40.000000
25%,42.000000,1.000000,0.000000,0.000000,0.000000,0.000000,206.000000,117.00000,75.000000,23.080000,68.000000,71.000000
50%,49.000000,2.000000,0.000000,0.000000,0.000000,0.000000,234.000000,128.00000,82.000000,25.400000,75.000000,78.000000
75%,56.000000,3.000000,20.000000,0.000000,0.000000,1.000000,263.000000,143.50000,89.500000,27.990000,82.000000,87.000000
max,70.000000,4.000000,70.000000,1.000000,1.000000,1.000000,600.000000,295.00000,142.500000,56.800000,143.000000,394.000000

In [28]:
# The column CHDRisk is what we will predict.
df.columns

Index(['sex', 'age', 'education', 'smokingStatus', 'cigsPerDay', 'BPMeds',
       'prevalentStroke', 'prevalentHyp', 'diabetes', 'totChol', 'sysBP',
       'diaBP', 'BMI', 'heartRate', 'glucose', 'CHDRisk'],
      dtype='object')

In [29]:
df.head()

,sex,age,education,smokingStatus,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,CHDRisk
0,male,39,4,no,0,0,0,0,no,195,106.0,70.0,26.97,80,77,no
1,female,46,2,no,0,0,0,0,no,250,121.0,81.0,28.73,95,76,no
2,male,48,1,yes,20,0,0,0,no,245,127.5,80.0,25.34,75,70,no
3,female,61,3,yes,30,0,0,1,no,225,150.0,95.0,28.58,65,103,yes
4,female,46,3,yes,23,0,0,0,no,285,130.0,84.0,23.10,85,85,no

In [30]:
# Check if the data has empty or missing fields.
np.where(df.isna().sum(axis=1) == 1)

(array([3544, 3551, 3566, 3614, 3619, 3626, 3627, 3630, 3631, 3633, 3636,
        3640, 3644, 3645, 3649, 3650, 3652, 3654, 3656, 3657]),)

In [31]:
# We can drop these rows for our portfolio project.
df = df.dropna(axis=0)
df = df.reset_index(drop=True)
df.describe()

,age,education,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,totChol,sysBP,diaBP,BMI,heartRate,glucose
count,3652.000000,3652.000000,3652.000000,3652.000000,3652.000000,3652.000000,3652.000000,3652.000000,3652.000000,3652.000000,3652.000000,3652.000000
mean,49.567908,1.982749,9.093373,0.030120,0.005750,0.310789,236.761227,132.380203,82.901150,25.785758,75.746166,81.731654
std,8.547131,1.022067,11.932352,0.170942,0.075623,0.462880,44.078277,22.036518,11.931499,4.051199,11.968388,23.748448
min,32.000000,1.000000,0.000000,0.000000,0.000000,0.000000,113.000000,83.500000,48.000000,15.540000,44.000000,40.000000
25%,42.000000,1.000000,0.000000,0.000000,0.000000,0.000000,206.000000,117.000000,75.000000,23.087500,68.000000,71.000000
50%,49.000000,2.000000,0.000000,0.000000,0.000000,0.000000,234.000000,128.000000,82.000000,25.405000,75.000000,78.000000
75%,56.000000,3.000000,20.000000,0.000000,0.000000,1.000000,263.000000,143.500000,89.625000,28.022500,82.000000,87.000000
max,70.000000,4.000000,70.000000,1.000000,1.000000,1.000000,600.000000,295.000000,142.500000,56.800000,143.000000,394.000000

In [32]:
# Check the categories for all categorical columns.
print(df['diabetes'].unique())
print(df['smokingStatus'].unique())
print(df['CHDRisk'].unique())

['no' 'yes']
['no' 'yes']
['no' 'yes']

In [33]:
# Next we will convert categorical variables smokingStatus, diabetes, sex and CHDRisk to numeric
df['diabetes'] = df['diabetes'].apply(lambda x: 0 if x == 'no' else 1)
df['smokingStatus'] = df['smokingStatus'].apply(lambda x: 0 if x == 'no' else 1)
df['CHDRisk'] = df['CHDRisk'].apply(lambda x: 0 if x == 'no' else 1)
df['sex'] = df['sex'].apply(lambda x: 0 if x == 'male' else 1)

In [34]:
df.head()

,sex,age,education,smokingStatus,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,CHDRisk
0,0,39,4,0,0,0,0,0,0,195,106.0,70.0,26.97,80,77,0
1,1,46,2,0,0,0,0,0,0,250,121.0,81.0,28.73,95,76,0
2,0,48,1,1,20,0,0,0,0,245,127.5,80.0,25.34,75,70,0
3,1,61,3,1,30,0,0,1,0,225,150.0,95.0,28.58,65,103,1
4,1,46,3,1,23,0,0,0,0,285,130.0,84.0,23.10,85,85,0

In [35]:
# Next we split the dataset into train, validate and test

# Split 60% in train, 20% in test
df_train, df_test = train_test_split(df, test_size=0.2, random_state=42)

df_train = df_train.reset_index(drop=True)
df_test = df_test.reset_index(drop=True)

In [36]:
# Save the preprocessed dataframe into a preprocessed CSV
df_train.to_csv('data/Heart_Disease_train.csv', index=False)
df_test.to_csv('data/Heart_Disease_test.csv', index=False)